/* Основные настройки */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #f3f3f2;
  font-family: 'Roboto Mono', monospace;
}

/* Квадрат показанный при загрузке */
.square {
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Четвердь вкадрата  */
.square_min {
  width: 125px;
  height: 125px;
  position: absolute;
  background: black;
  transition: all 2s ease;
  background-size: 250px;
  z-index: 30;
}
/* Стилизация четветинок  */
.top-left {
  top: 0;
  left: 0;
  background: url('./image/car.png');
  background-position: left top;
}
.top-right {
  top: 0;
  right: 0;
  background: url('./image/car.png');
  background-position: right top;
}
.bottom-right {
  bottom: 0;
  right: 0;
  background: url('./image/car.png');
  background-position: right bottom;
}
.bottom-left {
  bottom: 0;
  left: 0;
  background: url('./image/car.png');
  background-position: left bottom;
}

/* Круг появляющийся после скрытия часте начального квадрата */
.circle {
  width: 150px;
  height: 150px;
  background: rgb(15, 15, 15);
  border-radius: 50%;
  border: none;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  transform: rotate(180deg);
  opacity: 0;
}
/* Класс добавляемый для веалтзации появления и поворота */
.rotate {
  transition: opacity 0.4s, rotate 2s;
  rotate: -180deg;
  opacity: 1;
}
/* Класс для эввекта нажатия на кнопку circle */
.circle:active {
  transform: scale(0.95) rotate(-180deg);
}
/* Класс добавляется по завершении поворота */
.work-button {
  cursor: pointer;
}
/* Ховер эффект при наведении */
.work-button:hover {
  color: darkgrey;
  outline: 2px solid darkgrey;
}
/* Класс для скрыти элемента */
.hide {
  display: none;
}
/* Класс добавляет свойство дисплей */
.flex {
  display: flex;
}
/* Класс отключает пользовательские событя на элементе */
.disabled {
  pointer-events: none;
}
/* Форма для выбора автомобиля */
.form {
  box-shadow: 4px 4px 4px 4px grey;
  border-radius: 5px;
  width: 230px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}
/* Блок эмблем автомобилей */
/* .icons {
  width: 100%;
  height: 50px;
  background: grey;
  margin-bottom: 10px;
} */
/* Подписи для раскрывающихся списков текста */
.form_label {
  align-self: flex-start;
  font-size: 0.8rem;
}
/* Раскрывающийся список */
.form_select {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  background: #f3f3f2;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px 1px grey;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 2.5rem;
  font-size: 0.8rem;
  line-height: 1.25rem;
  line-height: 2;
  border-width: 1px;
  font-weight: 600;
}
/* Эффект при наведении на раскрывающийся список */
.form_select:hover {
  background: black;
  color: white;
}
/* Кнопка для подтверждения заказа */
.delivbut {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  outline: 1px solid black;
  border: none;
  background: transparent;
  border-radius: 8px;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1em;
  min-height: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.1s all;
}
/* эффект наведения на кнопку подтверждения */
.delivbut:hover {
  background: black;
  color: white;
}
/* Эффект нажатия на кнопку подтверждения */
.delivbut:active {
  transform: scale(0.95);
}
/* Блок для показа календаря */
.calendar {
  width: 100%;
}
/* Блок для показа диапазона допустимых дат */
.calendar div {
  margin-bottom: 10px;
}
/* Поле ввода даты */
#datepicker {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 2;
  line-height: 1.5rem;
  border-width: 1px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 60%;
  box-shadow: 1px 1px 1px 1px grey;
}
/* Стили для иконки календаря */
.ui-datepicker-trigger {
  margin-left: 25px;
  position: relative;
  top: 3px;
  cursor: pointer;
}
.ui-datepicker-trigger:hover {
  transition: all 0.3s ease;
  transform: scale(2);
}
/* Блок показа парметров выбранного автомобиля и даты доставки */
.showcar {
  box-shadow: 4px 4px 4px 4px grey;
  border-radius: 5px;
  width: 230px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}
.showcar label {
  align-self: flex-start;
  font-size: 0.8rem;
}
.showcar div {
  text-align: end;
  width: 100%;
  margin-bottom: 10px;
  height: 2rem;
  line-height: 1.25rem;
  font-weight: 600;
  border-bottom: 1px solid #000;
}
.newround {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  outline: 1px solid black;
  border: none;
  background: transparent;
  border-radius: 8px;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1em;
  min-height: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.1s all;
}
/* эффект наведения на кнопку подтверждения */
.newround:hover {
  background: black;
  color: white;
}
/* Эффект нажатия на кнопку подтверждения */
.newround:active {
  transform: scale(0.95);
}
